* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "DM Serif Display", serif;
}
.garage-container {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 50px 0;
    
}
.grid2 {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px;
}
.grid2-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.grid2-items h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    /* height: 240px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 0;
    padding: 0 0 ;
}
.grid2-items p{
    font-family:cursive;
    font-size: 15px;
    font-weight: bold;
    color: orange;

    /* height: 240px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
button {
    border: none;
    padding: 8px 20px;
    background:orange;
    color: white;
    cursor: pointer;
    font-weight: 800;
    text-align: center;
    border-radius: 10px;
}
.img-1{
    background-image:none;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
}
.img-2{
    background-image:none;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
}
.img-3{
    background-image:none;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
}